 @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Roboto:300');
 @import 'boxicons';
 @import url(https://necolas.github.io/normalize.css/);

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     text-decoration: none;
 }

 /* Básico */
 body {
     font-family: 'Courier New';
     background: rgb(4, 4, 4);
     width: 100%;
     height: 100vh;
 }

 .container {
     width: 1200px;
     margin: 0 auto;
 }

 /* cabeçalho */
 .header {
     display: flex;
     background-image: linear-gradient(60deg, #f8eded, #464545, #000000);
     align-items: center;
     height: 60px;
 }

 /* section{
    background-image: linear-gradient(60deg, #f8eded, #464545, #000000);
 } */

 /* Navegação do menu CSS*/
 .navbar {
     width: 100%;
     display: flex;
     justify-content: center;
 }

 /* Alteracao de idioma */
 /* .language {
     color: rgb(179, 174, 174);
     position: relative;
     width: 140px;
     margin-left: 40px;
     font-weight: bold;
 }

 .language-selected {
     padding: 5px 0px;
     display: flex;
     align-items: center;
     color: #ddd;
     cursor: pointer;
 }

 .language-selected::before {
     content: '';
     display: inline-block;
     width: 25px;
     height: 25px;
     background-size: contain;
     background-repeat: no-repeat;
     vertical-align: middle;
     box-shadow: 0px 1px 10px rgba(0, 0, 0 0.5);
 }

 .language ul li {
     list-style: none;
 }

 .language ul li a {
     display: block;
     color: rgb(202, 202, 202);
 }

 .language-selected:before {
     background-image: url(/img/brasil.png);
 }

 .language-selected:before {
     background-image: url(/img/estados-unidos.png);
 }

 .language-selected:before {
     background-image: url(/img/espanha.png);
 }

 .language:hover ul {
     display: block;
 }

 .language ul {
     position: absolute;
     background-color: rgb(2, 2, 2);
     border: 1px solid #666363;
     padding-top: 5px 10px;
 }

 .language ul li:hover {
     background-color: #797676;
 }

 /* jQuerry Class */
 /* .language-selected.change-br:before {
     background-image: url(/img/brasil.png);
 }

 .language-selected.change-en:before {
     background-image: url(/img/estados-unidos.png);
 }

 .language-selected.change-es:before {
     background-image: url(/img/espanha.png);
 } */
 */

 /* Portfólio */
 .logo h1 {
     font-size: 40px;
     color: #292f30;
     margin-left: 10px;
 }

 /* Menu cabeçalho */
 .navbar .menu {
     margin: 10px;
     list-style: none;
     display: flex;
     text-align: center;
     text-transform: uppercase;

 }

 .navbar .menu li a {
     color: #d3d0d0;
     text-align: center;
     font-weight: bold;
     transition: 1s box-shadow;
     margin: 15px;
 }

 .navbar .menu li a:hover {
     color: rgb(17, 17, 17);
     text-decoration: underline;
 }

 .navbar .menu li:hover {
     transform: scale(1.);
     text-decoration: underline;
 }

 /* icons contatos */
 .icons {
     font-size: 35px;
     color: #ffffff;
     display: flex;
     margin-right: 10px;
     justify-content: flex-end;
     gap: 10px;
     padding-top: 20%;

 }

 /* Skills */
 .softskills {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
     border: white solid 1px;
     border-radius: 1%;
     padding: 15px;
     height: 100px;
 }

 .softskills img {
     height: 120%;
 }

 .texto-skills h2 {
     font-size: 1.9rem;
     font-weight: bold;
     color: #fff;
     display: flex;
     justify-content: center;
     margin-top: 6em;
 }

 /* frase programador */
 #frase-programador {
     position: absolute;
     font-size: large;
     margin: 1%;
     height: 13vh;
     display: flex;
     color: rgb(255, 255, 255);
     text-align: center;
     font-family: 'Courier New';
     font-size: 22px;
     overflow: hidden;
     -webkit-backface-visibility: hidden;
     -webkit-perspective: 1000;
     -webkit-transform: translate3d(0, 0, 0);
     top: 5em;
 }

 .frase {
     display: inline-block;
     overflow: hidden;
     white-space: nowrap;
 }

 .frase:first-of-type {
     animation: showup 7s infinite;
 }

 .frase:last-of-type {
     width: 0px;
     animation: reveal 7s infinite;
 }

 .frase:last-of-type span {
     margin-left: -355px;
     animation: slidein 7s infinite;
 }

 .frase {
     display: inline-block;
     overflow: hidden;
     white-space: nowrap;
 }

 @keyframes showup {
     0% {
         opacity: 0;
     }

     20% {
         opacity: 1;
     }

     80% {
         opacity: 1;
     }

     100% {
         opacity: 0;
     }
 }

 @keyframes slidein {
     0% {
         margin-left: -800px;
     }

     20% {
         margin-left: -800px;
     }

     35% {
         margin-left: 0px;
     }

     100% {
         margin-left: 0px;
     }
 }

 @keyframes reveal {
     0% {
         opacity: 0;
         width: 0px;
     }

     20% {
         opacity: 1;
         width: 0px;
     }

     30% {
         width: 355px;
     }

     80% {
         opacity: 1;
     }

     100% {
         opacity: 0;
         width: 355px;
     }
 }

 /*  CSS Hello world */
 .titulo {
     display: flex;
     flex-direction: column;
     color: #f7f5e9;
     font-size: 30px;
     text-align: center;
     margin-left: 2%;
 }

 .titulo:hover {
     transform: rotateY(360deg);
     transition: 2s;
 }

 /* Caixa de texto "ABOUT-ME" */
 a,
 a:focus,
 a:hover,
 a:active,
 a:visited {
     color: inherit;
     text-decoration: none;
 }

 .Link {
     filter: drop-shadow(0 1em 1em rgba(#000, .16));
     position: absolute;
     width: 600px;
     height: 230px;
     left: 50%;
     top: 28em;
     transform: translate(-50%, -50%);
 }

 .Link-title {
     position: relative;
     color: #000000;
     background-size: 0 2px, 0 100%;
     background-position: 8px calc(1em + 8px), 0 0;
     background-repeat: no-repeat;
     box-decoration-break: clone;
     display: inline;
     font-size: 21px;
     font-family: Cambria;
     font-weight: 300;
     padding: 6px 8px;
     pointer-events: none;
     line-height: 1.30;
     transition: background ease-out 500ms;
     position: absolute;
     text-align: center;

 }

 .Link::before,
 .Link::after {
     background-color: rgb(197, 202, 202);
     border-radius: 10px;
     content: ' ';
     display: flex;
     justify-content: center;
     position: absolute;
     transform-origin: right;
     transition: transform 500ms;
     width: 600px;
     height: 250px;
     z-index: -1;
 }

 .Link::after {
     background-color: rgb(221, 221, 216);
     transform: scaleX(0);
     transition-duration: 450ms;
 }

 .Link:hover>.Link-title {
     background-size: calc(100% - 16px) 2px, 100% 100%;
     transition-duration: 200ms;
 }

 .Link:hover::before {
     transform: scaleX(0);
     transition-duration: 450ms;
     transition-timing-function: ease-in-out;
 }

 .Link:hover::after {
     transform: scaleX(1);
     transition-duration: 700ms;
     transition-timing-function: ease-in-out;
     transform-origin: left;
 }

 .Link-title h3 {
     font-family: Courier;
     display: flex;
     justify-content: center;
 }

 /* Minha foto animation */
 .photo-animation {
     display: flex;
     justify-content: space-around;
     margin-top: 1em;
     align-items: center;
     background: none;
     background-repeat: no-repeat;
 }

 /* mudando o scrollbar */
 ::-webkit-scrollbar {
     width: 12px;
 }

 ::-webkit-scrollbar-track {
     background: #dad6da;
 }

 ::-webkit-scrollbar-thumb {
     width: 6px;
     background-color: #6a6060;
     border-radius: 20px;
 }

 /* container do formulario */
  .container {
   background-color: rgb(10, 10, 10);
   width: 100%;
   height: auto;
   display: flex;
  }

  form {
   width: 100%;
   background-color: rgb(208, 19, 53);
   padding-bottom: 0%;
   border-top-left-radius: 17px;
   border-top-right-radius: 17px;
   border-bottom-left-radius: 17px;
   border-bottom-right-radius: 17px;
}

.formulario h2 {
   color: #050505;
}

input,
textarea,
button {
   border-radius: 5px;
}

form label {
   display: block;
   font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 2%;
   margin-bottom: 0.2em;
   color: #000000;
   cursor: pointer;

}

form input,
form textarea {
   display: block;
   margin: 0 0 20px;
   width: 75%;
   padding: 10px 15px;
   margin-left: 2%;
   border: 1px solid rgb(33, 31, 31);
   cursor: pointer;
}

#enviar{
   background: rgb(16, 15, 15);
   color: white;
   font-weight: bold;
   font-size: 18px;
}

#enviar:hover{
   background: rgb(53, 52, 52);
   color: rgb(255, 255, 255);
   font-weight: bold;
   font-size: 18px;
   transition: calc(0.5s);
}

  .oracle{
      float: left; 
      height: 100px;
      display: flex;
      margin-top: 35vw;
  }

.agrupation h2, h2 {
     font-family: 'Courier New', Courier, monospace;
     font-size: 40px;
     color: #fcfcfc;
     display: flex;
     justify-content: space-around;
     text-align: center;
     margin-top: 1em;
 }

 /* Rodape */

.agrupation{
    display: flex;
    justify-content: space-between;
    float: left;
    gap: 5em;
}
.agrupation{
    text-align: center;
    margin-top: 1em;
}

.title ul li {
    margin: 10px 0px;
    list-style: none;
}

.title ul li a, p {
    color: rgb(228, 223, 223);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title ul li a:hover {
    color: rgb(109, 105, 105);
}

/* meus projetos */
 .container1 {
     margin: 0 auto;
     display: flex;
     gap: 3%;
     padding-top: 2em;
     align-self: center;
 }

 .container1 .card {
     display: grid;
     place-items: center;
     cursor: pointer;

 }

 .container1 .card .face {
     width: 300px;
     height: 200px;
     transition: 0.5s;
     border-radius: 5px;
 }

 section h2 {
     font-family: 'Courier New', Courier, monospace;
     color: rgb(255, 255, 255);
     height: 10%;
     margin-top: 1em;
 }

 .container1 .card .face.face1 {
     position: relative;
     background: #070707;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1;
     transform: translateY(100px);
 }

 .container1 .card:hover .face.face1 {
     transform: translateY(0);
 }

 .container1 .card .face.face1 .content {
     opacity: 0.5;
     transition: 0.5s;
 }

 .container1 .card:hover .face.face1 .content {
     opacity: 1;
 }

 .container1 .card .face.face1 .content img {
     width: 300px;
     height: 210px;
     margin-bottom: 2em;
 }

 .container1 .card .face.face1 .content h3 {
     margin: 10px 0 0;
     color: rgb(255, 255, 255);
     text-align: center;
     font-size: 1.5em;
 }

 .container1 .card .face.face2 {
     position: relative;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
     box-shadow: 0 20px 50px rgba(116, 113, 113, 0.8);
     transform: translateY(-100px);
 }

 .container1 .card:hover .face.face2 {
     transform: translateY(0);
 }

 .container1 .card .face.face2 .content a {
     margin: 15px 0 0;
     display: inline-block;
     text-decoration: none;
     font-weight: 900;
     color: #333;
     padding: 5px;
     border: 1px solid #333;
     transition: 0.4s;
 }

 .container1 .card .face.face2 .content a:hover {
     border-radius: 10px;
     background: #d84749;
     color: rgb(24, 23, 23);
 }

 .content p{
        font-size: 1.2em;
        text-align: center;
        margin: 0;
        color: #000;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
