 @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import 'boxicons';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Básico */
body {
    animation: colors 6s reverse infinite;
    background-image: linear-gradient(60deg, #000000, #464545, #000000);
    background-size: 400% 400%;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* cabeçalho */
.header {
    display: flex;
    background-image: linear-gradient(60deg, #f8eded, #464545, #100e0e);
    align-items: center;
    height: 60px;
}

/* Navegação do menu CSS*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Portfólio */
.logo h1 {
    font-size: 40px;
    color: #292f30;
    margin-left: 10px;
}

/* Menu cabeçalho */
.navbar .menu {
    margin: 10px;
    list-style: none;
    display: flex;
    text-align: center;
}

.navbar .menu li a {
    color: #d3d0d0;
    text-align: center;
    font-weight: lighter;
    transition: 1s box-shadow;
    margin: 15px;
}

.navbar .menu li:hover {
    transform: scale(1.3);
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

/* icons contatos */
.icons {
    font-size: 35px;
    color: #ffffff;
    display: flex;
    height: 35px;
    gap: 40px;
    margin-inline-start: 85%;
    margin-top: 28rem;

}

/* Skills */
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.softskills {

    margin-inline-start: 5rem;
}

/* frase programador */
.frase {
    font-size: large;
    margin: 1%;
    height: 13vh;
    display: flex;
    color: rgb(226, 212, 212);
    text-align: center;
    font-family:'Roboto';
    font-size:22px;
    overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

.texto-skills span {
    display: inline;
    color: rgb(240, 238, 238);
    margin-inline-start: 9rem;
    top: 120%;
}

.frase {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}
.frase:first-of-type { 
animation: showup 7s infinite;
}

.frase:last-of-type {
width:0px;
animation: reveal 7s infinite;
}

.frase:last-of-type span {
margin-left:-355px;
animation: slidein 7s infinite;
}

.frase{
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}

@keyframes showup {
0% {opacity:0;}
20% {opacity:1;}
80% {opacity:1;}
100% {opacity:0;}
}

@keyframes slidein {
0% { margin-left:-800px; }
20% { margin-left:-800px; }
35% { margin-left:0px; }
100% { margin-left:0px; }
}

@keyframes reveal {
0% {opacity:0;width:0px;}
20% {opacity:1;width:0px;}
30% {width:355px;}
80% {opacity:1;}
100% {opacity:0;width:355px;}
}

/*  CSS Hello world */
.titulo {
    color: #f7f5e9;
    font-size: 30px;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.titulo:hover {
    transform: scale(1.1);
}

/* Caixa de texto "sobre min" */
a,
a:focus,
a:hover,
a:active,
a:visited {
    color: inherit;
    text-decoration: none;
}

.Link {
    filter: drop-shadow(0 1em 1em rgba(#000, .16));
    position: absolute;
    width: 590px;
    height: 250px;
    right: 100px;
    left: 15%;
    top: 10%;
    transform: translate(-50%, -50%);
    margin-top: 380px;
    margin-left: 400px;
    padding: 0em 2.4em;
}

.Link-title {
    position: relative;
    color: #000000;
    top: 5%;
    background-image:
        linear-gradient(0deg, #ddd, #000),
        linear-gradient(0deg, rgb(92, 86, 86), #fff),
    ;
    background-size: 0 2px, 0 100%;
    background-position: 8px calc(1em + 8px), 0 0;
    background-repeat: no-repeat;
    box-decoration-break: clone;
    display: inline;
    font-size: 20px;
    font-weight: 300;
    padding: 6px 8px;
    margin-left: 80px;
    pointer-events: none;
    line-height: 1.25;
    text-shadow: 1px 1px 0 rgb(0, 0, 0), 1px 0 rgb(0, 0, 0);
    transition: background ease-out 500ms;
    position: absolute;
    left: 10%;
}

.Link::before,
.Link::after {
    background-color: rgb(229, 243, 247);
    border-radius: 3px;
    content: ' ';
    display: block;
    position: absolute;
    transform-origin: right;
    transition: transform 500ms;
    width: 550px;
    height: 250px;
    top: 10px;
    left: 100px;
    z-index: -1;
}

.Link::after {
    background-color: rgb(255, 247, 24);
    transform: scaleX(0);
    transition-duration: 450ms;
}

.Link:hover>.Link-title {
    background-size: calc(100% - 16px) 2px, 100% 100%;
    transition-duration: 200ms;
}

.Link:hover::before {
    transform: scaleX(0);
    transition-duration: 450ms;
    transition-timing-function: ease-in-out;
}

.Link:hover::after {
    transform: scaleX(1);
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
    transform-origin: left;
}

/* Minha foto animation */
.photo-animation {
    display: flex;
    top: 120px;
    left: 380px;
    position: absolute;
    background: none;
    background-repeat: no-repeat;
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    transition: 0.2s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}